<h1>Welcome to My top 4 Football Page</h1>


<% @players.each do |player| %>
<div>
  <h3>
    <a href="/players/<%= player[:id] %>"><%= player[:name] %></a>
  </h3>
  <p><%= "#{player[:name]} have #{player[:points]} points and are in #{player[:position]} place" %></p>
</div>
<% end %>
