<h1>Welcome to The Cricket League Page</h1>

<div class="container-fluid">

  <% @teams.each do |team| %>
  <div>
    <h3>
      <a href="/cricket/<%= team.id %>"><%= team.name %></a>
    </h3>
    <p><%= "#{team.name} have #{team.points} points and are in #{team.position} place" %></p>
  </div>
  <% end %>
  <h3><a href="/cricket/new">+ New Team</a></h3>
  <p>Click here to add a new Team</p>
</div>
