<nav class="navbar navbar-inverse">
      <ul class="nav navbar-nav">
        <li><a class="navbar-brand" href="/">Sports API</a></li>
        <li><a href="/">Homepage</a></li>
        <li><a href="/teams"> Football Teams</a></li>
        <li><a href="/players"> Football Players</a></li>
        <li><a href="/cricket"> Cricket Teams</a></li>


      </ul>
</nav>
