<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/css/homepage.css">

  </head>
  <body>

    <h1>Welcome to My Football App</h1>

    <h3>Use this page to navigate all things sport - <em id="api"></em></h3>
    


    <div class="container-fluid">

      <div class="row">
        <p class = "list">Click here for the
        <a href='/teams'>Football</a> page</p>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/ktcgU2bVeRU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>

    <div class="row">
      <p class = "list">Click here for the <a href='/players'>Players</a> page</p>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/ktcgU2bVeRU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

    <div class="row">
      <p class = "list">Click here for the <a href='/cricket'>Cricket</a> page</p>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/ktcgU2bVeRU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>


    </div>
  </body>
</html>
